{{ if eq .chezmoi.os "darwin" }}
# darwin
{{ else if eq .chezmoi.os "linux" }}
# linux
{{ else if eq .chezmoi.os "windows" }}
# windows
{{ else }}
# other operating system
{{ end }}

OS={{- .chezmoi.os }}
HOSTNAME={{- .chezmoi.hostname }}
ARCH={{ .chezmoi.arch }}
KERNELOSRELEASE={{ .chezmoi.kernel.osrelease }}
OSRELEASEID={{ .chezmoi.osRelease.id }}

 