#!/bin/bash
set -eu
{{ if (eq .chezmoi.os "linux") -}}

{{   if eq .chezmoi.osRelease.id "debian" }}

{{     if ne .chezmoi.osRelease.version_id "24.04" }}

{{       if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    # WSL-specific code
    echo "**************************************************************"
    echo "** Installing WSL Extras"
    echo "**************************************************************"
    sudo add-apt-repository --yes ppa:wslutilities/wslu
    sudo apt update
    sudo apt install -y wslu

{{       end }}
{{     end }}
{{   end }}
{{ end }}
