{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -eu

echo "**************************************************************"
echo "** Installing Nix"
echo "**************************************************************"

curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install

{{ end }}
