{{ if (eq .chezmoi.os "windows") -}}

echo "**************************************************************"
echo "** Installing Choco"
echo "**************************************************************"

{{- end }}