{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -eu

{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    # WSL-specific code
    echo "**************************************************************"
    echo "** Installing WSL Extras"
    echo "**************************************************************"
    sudo add-apt-repository --yes ppa:wslutilities/wslu
    sudo apt update
    sudo apt install -y wslu

{{   end }}
{{ end }}
