{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -eu

echo "***********************************"
echo "** Install VSCode Extension"
echo "***********************************"

pushd ./vscode
./install_profile.sh --profile=chrisguest75 --install

#./install_profile.sh --profile=work --install
popd

{{- end }}