#!/bin/bash
set -eu
{{ if (eq .chezmoi.os "linux") -}}

{{   if eq .chezmoi.osRelease.id "debian" }}

{{     if ne .chezmoi.osRelease.version_id "24.04" }}

# TODO: Install on darwin and install terminal icons.  
# https://github.com/orgs/PowerShell/projects/23/views/1?pane=issue&itemId=57898280
# from cat /etc/os-release

echo "***********************************"
echo "** Install Powershell"
echo "***********************************"

# Homebrew
test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
test -d /opt/homebrew && eval "$(/opt/homebrew/bin/brew shellenv)"
test -f /usr/local/bin/brew && eval "$(/usr/local/bin/brew shellenv)"

echo "** Update the list of packages"
sudo apt-get update

echo "** Install pre-requisite packages."
sudo apt-get install -y wget apt-transport-https software-properties-common

echo "** Get the version of Ubuntu"
source /etc/os-release

echo "** Download the Microsoft repository keys"
wget -q https://packages.microsoft.com/config/ubuntu/$VERSION_ID/packages-microsoft-prod.deb

echo "** Register the Microsoft repository keys"
sudo dpkg -i packages-microsoft-prod.deb

echo "** Delete the the Microsoft repository keys file"
rm packages-microsoft-prod.deb

echo "** Update the list of packages after we added packages.microsoft.com"
sudo apt-get update

echo "** Install PowerShell"
sudo apt-get install -y powershell

# requires brew 
brew install jandedobbeleer/oh-my-posh/oh-my-posh

# install terminal icons
pwsh  -NoProfile -ExecutionPolicy Bypass -Command "Install-Module -Name Terminal-Icons -Repository PSGallery"
{{     end }}

{{   end }}

{{- end }}